.btn {
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(96, 187, 253, 255);
    color: rgba(255, 255, 255, 255);
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: rgba(0, 75, 255, 255);
    rotate: 15deg;
}
